<svg viewBox="0 0 48 48" aria-hidden="true" focusable="false">
  @switch (name()) {
    @case ('patter') {
      <circle class="app-icon__soft" cx="27" cy="23" r="14" />
      <path d="M13 8v28l7-7 6 13 6-3-6-12h12z" />
      <path class="app-icon__accent" d="M37 7h4v4h-4zm5 7h3v3h-3z" />
    }
    @case ('start') {
      <path class="app-icon__soft" d="M7 12h34v29H7z" />
      <path d="M11 8h22l5 5H11zm4 12h18v14H15z" />
      <path class="app-icon__accent" d="M19 23h10v3H19zm0 6h7v3h-7z" />
    }
    @case ('impact') {
      <path class="app-icon__soft" d="M7 7h34v34H7z" />
      <path d="M12 34V14h3v17h22v3z" />
      <path class="app-icon__accent" d="m16 27 7-8 6 4 8-11 3 2-10 14-6-4-5 6z" />
      <path d="M20 17h6v6h-6zm14-8h7v7h-7z" />
    }
    @case ('builds') {
      <path class="app-icon__soft" d="m24 5 18 10v19L24 44 6 34V15z" />
      <path d="m24 8 14 8-14 8-14-8zm-2 19v12l-12-7V20zm4 0 12-7v12l-12 7z" />
      <path class="app-icon__accent" d="m16 13 14 8 4-2-14-8z" />
    }
    @case ('arcade') {
      <path class="app-icon__soft" d="M12 14h24l7 22-5 5-9-7H19l-9 7-5-5z" />
      <path d="M13 18h22l5 17-3 3-7-7H18l-7 7-3-3z" />
      <path class="app-icon__accent" d="M15 24h4v-4h4v4h4v4h-4v4h-4v-4h-4z" />
      <circle cx="33" cy="23" r="3" />
      <circle cx="36" cy="29" r="3" />
    }
    @case ('profile') {
      <path class="app-icon__soft" d="M6 9h36v30H6z" />
      <circle cx="17" cy="21" r="7" />
      <path d="M8 36c1-7 4-11 9-11s8 4 9 11zm22-19h8v3h-8zm0 7h8v3h-8zm0 7h6v3h-6z" />
      <path class="app-icon__accent" d="M9 11h13v3H9z" />
    }
    @case ('resume') {
      <path class="app-icon__soft" d="M11 5h19l8 8v30H11z" />
      <path d="M14 8h14v8h8v24H14zm17 1 6 6h-6z" />
      <path class="app-icon__accent" d="M18 21h14v3H18zm0 7h14v3H18zm0 7h10v3H18z" />
    }
    @case ('contact') {
      <path class="app-icon__soft" d="M5 10h38v28H5z" />
      <path d="M8 13h32v22H8zm2 3 14 11 14-11v-1H10zm0 17h28V21L24 32 10 21z" />
      <path class="app-icon__accent" d="M33 7h4v4h-4zm6-4h4v4h-4z" />
    }
    @case ('settings') {
      <path class="app-icon__soft" d="M7 9h34v30H7z" />
      <path d="M11 15h26v3H11zm0 8h26v3H11zm0 8h26v3H11z" />
      <path class="app-icon__accent" d="M17 12h6v9h-6zm10 8h6v9h-6zm-12 8h6v9h-6z" />
    }
  }
</svg>
